* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.container {
  max-width: 500px;
  width: 100%;
  text-align: center;
}

.avatar {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

h1 {
  margin-bottom: 10px;
}

.about {
  margin-bottom: 30px;
  line-height: 1.5;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.link-button {
  background-color: rgb(143, 174, 233);
  color: black;
  text-decoration: none;
  padding: 15px;
  border-radius: 8px;
  display: block;
}

.link-button:hover {
  background-color: rgb(143, 174, 233);
  color: white;
}